[Desktop Entry]
Type=Application
Name=Cleaf
Comment=Small C/GTK text editor with YAML syntax highlighting
Exec=cleaf %F
Icon=accessories-text-editor
Terminal=false
Categories=Utility;TextEditor;Development;
Keywords=Text;Editor;Code;Programming;Development;
MimeType=text/plain;application/x-zerosize;
StartupNotify=true
